.channels {
  width: 100%;
  margin: 0 0 2.125rem;
  .channels_filter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 3.125rem;
    .channels_category {
      padding: 1rem 1.5rem;
      border-radius: 5px;
      border: 2px solid rgba(255, 255, 255, 0.80);
      cursor: pointer;
    }
  }
}