.rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 0.9375rem;
  background-color: #131212;
  border: solid 2px #FC3232;
  border-radius: 1rem;
  padding: 3.75rem 1rem 2rem;
  margin: 0 0 3.75rem;
  .rate_eye {
    margin-top: -6rem;
  }
  .rate_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 0;
    .rate_title {
      max-width: 202px;
      text-align: center;
      .rate_price {
        font-size: 4.1875rem;
        font-weight: 600;
        color: #FF1F1F;
        margin: 0 0 1rem;
        span {
          font-size: 1rem;
          font-weight: 400;
          text-transform: uppercase;
          color: #ffffff;
          opacity: 0.8;
        }
      }
      h4 {
        font-weight: 400;
        line-height: 140%;
        opacity: 0.8;
        margin: 0 0 1.5rem;
      }
    }
    .rate_advantage {
      display: flex;
      align-items: center;
      font-weight: 500;
      letter-spacing: 0.3px;
      margin: 0 0 1rem;
      &:last-child {
        margin: 0 0 2rem;
      }
      img {
        margin: 0 1rem 0 0;
      }
    }
  }
  .rate_form {
    display: flex;
    flex-direction: column;
    .rate_email {
      border-radius: 5px;
      border: 1px solid #D0D0D1;
      opacity: 0.9;
      background: #ffffff;
      padding: 1rem;
      margin: 0 0 1rem;
    }
    .rate_btn {
      font-weight: 600;
      line-height: normal;
      border-radius: 5px;
      border: none;
      color: #ffffff;
      background-color: #FC3232;
      padding: 1rem;
      cursor: pointer;
      &:hover, &:focus {
        background-color: #FF1F1F;
      }
      &:active {
        background-color: #FC3232;
      }
    }
  }
}

// Media
@media  (min-width: 375px) {
  .rate {
    font-size: 1rem;
    padding: 4.125rem 1.5rem 2.5rem;
    .rate_eye {
      margin-top: -6.4rem;
    }
    .rate_block {
      margin: 1.25rem 0 0;
      .rate_title {
        h4 {
          margin: 0 0 2rem;
        }
      }
      .rate_advantage {
        margin: 0 0 1.125rem;
      }
    }
    .rate_form {
      .rate_btn {
        font-size: 1.125rem;
      }
    }
  }
}

@media  (min-width: 768px) {
  .rate {
    padding: 4.125rem 5.25rem 2.5rem;
    margin: 0 0 4.875rem;
    .rate_block {
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 2rem 0 2.5rem;
      .rate_title {
        width: 200px;
        h4 {
          margin: 0;
        }
      }
      .rate_advantage {
        &:last-child {
          margin: 0;
        }
      }
    }
    .rate_form {
      width: 100%;
      flex-direction: row;
      .rate_email {
        flex: 1;
        font-size: 1.0625rem;
        border-radius: 5px 0 0 5px;
        padding: 1rem;
        margin: 0;
      }
      .rate_btn {
        flex: 1;
        border-radius: 0 5px 5px 0 ;
      }
    }
  }
}

@media  (min-width: 990px) {
  .rate {
    max-width: 800px;
    font-size: 1.125rem;
    padding: 4.375rem 7.5rem 4.125rem;
    margin: 0 auto 6.125rem;
    .rate_eye {
      margin-top: -6.7rem;
    }
    .rate_block {
      margin: 2.2rem 0 2.5rem;
      .rate_title {
        h4 {
          font-size: 1rem;
        }
      }
      .rate_advantage {
        margin: 0 0 1.25rem;
        &:last-child {
          margin: 0;
        }
      }
    }
    .rate_form {
      .rate_email {
        font-size: 1.125rem;
      }
    }
  }
}

@media  (min-width: 1440px) {
  .rate {
    max-width: 860px;
    font-size: 1.25rem;
    padding: 4.375rem 9.375rem 4.125rem;
    margin: 0 auto 6.25rem;
    .rate_block {
      margin: 2.3rem 0 2.5rem;
    }
    .rate_form {
      .rate_btn {
        font-size: 1.25rem;
      }
    }
  }
}

@media  (min-width: 1920px) {
  .rate {
    max-width: 1150px;
    font-size: 1.625rem;
    padding: 5.875rem 12.5rem 6.125rem;
    margin: 0 auto 7.75rem;
    .rate_eye {
      margin-top: -8.1rem;
    }
    .rate_block {
      margin: 2.7rem 0 3.125rem;
      .rate_title {
        width: 250px;
        max-width: none;
        .rate_price {
          font-size: 5.625rem;
          margin: 0 0 1.25rem;
          span {
            font-size: 1.25rem;
          }
        }
        h4 {
          font-size: 1.25rem;
        }
      }
    }
    .rate_advantage {
      margin: 0 0 1.625rem;
      &:last-child {
        margin: 0 0 3.125rem;
      }
      img {
        margin: 0 1.25rem 0 0;
      }
    }
    .rate_form {
      .rate_btn {
        font-size: 1.5rem;
      }
    }
  }
}