.wrapper {
  position: relative;
  width: 100%;
  padding-top: 57.56%;
  .intro_devices {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .intro_devices_sm {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .intro_devices_md {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .intro_devices_lg {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// Media
@media  (min-width: 768px) {
  .wrapper {
    width: 522.82px;
    height: 301.13px;
    padding-top: 0;
    .intro_devices {
      .intro_devices_sm {
        display: none;
      }
      .intro_devices_md {
        display: block;
      }
    }
  }
}

@media  (min-width: 990px) {
  .wrapper {
    width: 619.64px;
    height: 356.9px;
  }
}

@media  (min-width: 1440px) {
  .wrapper {
    width: 716.46px;
    height: 412.66px;
    .intro_devices {
      .intro_devices_sm {
        display: none;
      }
      .intro_devices_md {
        display: none;
      }
      .intro_devices_lg {
        display: block;
      }
    }
  }
}

@media  (min-width: 1920px) {
  .wrapper {
    width: 974px;
    height: 561px;
  }
}
